 html, body {
    padding: 0;
    margin: 0;
    min-width: 320px;
 }


 .clearfix:after {
   content: '';
	display: block;
	clear: both;

   
 }
 .conteiner {
 	max-width:1200px;
 	padding: 0 20px;
 	margin: 0 auto;
 }

 header {
	background: #000;
	opacity;0.5;
	height: 50px;

 }
 .nav {
 	color: #fff;
 	font-size: 16px;
 	margin: 0;
 	padding: 0;
 	list-style: none}

 .nav > li {
 	float: left;
 	margin: 0 10px;
 }

 .dropdown{
 
 margin: 0;
 	padding: 0;
 	list-style: none	
 }

.dropdown li {
	padding: 10px;
	border: 1px solid #fff;}

	.dropdown li + li {
		border-top: 1px solid #fff;
	}

.dropdown 
main {
	float: left;
	background: lime;
	width: 60%;
	height: 500px;

}
.nav .li:hover .dropdown {
	z-index: 1;
	opacity: 1;
	height: auto;
}

 }
 aside {
   float: right;
   background: #5555;


 }
 footer {
		background: green
		opacity: 0,5;
		height: 50px;

 }
 @media screen and (max-width; 1300px) {
 	aside {
 		float: right;
 	}
 	main
 }
