html, body {
		padding: 0;
			marging: 0;
}

div {
		background: transparent url(sprite.png) no-repeat;
		float: left;
		height: 100px;
		width: 100px;
		padding: 40px;
		border: 100px solid rgba(240, 240, 240, 0.9);
		border-top-color: green;
		border-left-color: blue;
		border-bottom-color: black;
		border-right-color: transparent;
		border-radius: 10%;
		transition: all 1s;
		background-clip: border-box;
		-webkit-background-origin: border-box;
		background-origin: border-box;
		box-shadow: 40px 40px 10px;
		border-radius:50%;
	}

	div + div {
			margin-left: 20px;
	}

	div:hover {
		transform: rotateZ(360deg); 
		background-clip: padding-box;

		


	}