<<<<<<< HEAD:Dibrova/sample/css/19-05/header/_header.scss

.header {
	height: 100px;
	background: #f00;
=======
//some custom v ariables

.header {
	height: 100px;
	background: #f00;
>>>>>>> ecccc9d26dd68c71e9acf16b25d17ebff0b703cd:zhukovskaya/sass/header/_header.scss
}