.holder {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px
	margin: 0 auto;
	background: # ;
}
.triangle {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 12px 14px 12px 0;
	border-color: transparent #76ff03 transparent transparent;
}
