// our veriables and constans

// Container params
$containerWidth: 1000px;
$containerPadding: 15px;
$mainWidth: 600px;
$sidebarWidth: 250px;
$sidebarMargin: 50px;

$headerHeight: 100px;

//Footer params
$footerHigth: 100px;

//colors
$generalBgColor: #eee;
$headerBgColor: #efe;
$footerBgColor: #efd;

//Media

$tabletDeviceWidth: 1000px;