<<<<<<< HEAD:Dibrova/sample/css/21-05-sass/sass/styles.scss
html,body {
	padding: 0;
	margin: 0;
}
=======
* {
	padding: 0;
	margin: 0;
}
>>>>>>> ecccc9d26dd68c71e9acf16b25d17ebff0b703cd:Raienko/htmlCourse/TestNewFeatures/sass_pract/01/sass/_reset.scss
