h3,p {
	border:2px solid black;
	padding: 10px;
	display: inline-block;
}
button {
	width: 200px;
	height: 50px;
}
body {
	text-align: center;
}
ul {
	margin: 0 auto;
	width: 300px;
	text-align: left;
}