a{
	text-decoration: none;
	color:white;
}
.menu {
	padding: 0;
	margin: 0;
}
.menu li{
	list-style:none;
	background-color: #444;
	border: 0;
	width: 50px;
	margin-right: 40px;
	padding: 5px;
	position: relative;
}
.menu li ul{
	display: none;
	padding: 0;
	margin: 0;
	height: 30px;
	position: absolute;
	left:60px;
	top:0px;
}
.menu li ul li{
	margin:0;
	width: 80px;
	position: relative;
	text-transform: capitalize;
}
li:hover{
	background-color: blue;
}
.menu li:hover ul{
	display: block;
}

.magicDivs{
	position: relative;
	background-color: #eeeeee;
	height: 70px;
	width: 430px;
}
.animTest {
	background-color: green;
	background-image:url("../images/bg_texture_00.jpg");
	padding:10px;
	float: left;
	height: 50px;
	width: 50px;
	transition: 1s;
	text-align: center;
	font-size: 54px;
	border-radius: 50%;
	box-shadow: 40px 40px 10px -10px rgba(0,0,0,0.3);
}
div.animTest+div.animTest{
	margin-left: 20px;
}
@-webkit-keyframes mymove {
    0%   {top: 0px; left: 0px; background: red;}
    25%  {top: 0px; left: 100px; background: blue;}
    50%  {top: 100px; left: 100px; background: yellow;}
    75%  {top: 100px; left: 0px; background: green;}
    100% {top: 0px; left: 0px; background: red;}
}
.animTest:hover {
	height: 80px;
	width: 80px;
	border: 5px dashed gray;
	position: relative;
	background-clip: content-box;
	-webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */ 
    animation: mymove 5s infinite;
    box-shadow: 240px 240px 10px -10px rgba(255,0,0,0.3);
    /* x y blur size color */
}
.animTest:hover ~ div{
	height: 80px;
	width: 80px;
	border: 5px dashed gray;
	position: relative;
	background-clip: content-box;
	-webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */ 
    animation: mymove 5s infinite;
    box-shadow: 240px 240px 10px -10px rgba(255,0,0,0.3);
    /* x y blur size color */
}
