//main: style.scss

.nav {
    padding: 0.150em 0;
    background-color: $brandedcolor;
    text-align: right;
    @include respond-to(1200) {
        padding-right: 7.500em;
    }

    .github {
      position: absolute;
      top: 0;
      left: 10px;
      z-index: 9999;
      color: white;
      @include respond-to(320) {
          display: none;
      }

      &__link {
        font: 0.813em "AmericanTypewriter";
      }
    }

    .fa-github:before {
      color: white;
    }
}

.mainmenu--nav {
    font: 1.000em "Glasgow-Medium";
    text-shadow: 0.5px 0.5px 0 lightgray;
    color: white;
}
