//out: ../css/style.css
@import "mixins/media";
@import "fonts";

$brandedcolor: #5d9b9a;

* {
    position: relative;
    margin: 0 auto;
    font-family: "Arial";
    box-sizing: border-box;
}

html {
    background: url("../img/background.png");
    @include respond-to(320) {
        font-size: 75%;
    }
    @include respond-to(480) {
        font-size: 80%;
    }
    @include respond-to(768) {
        font-size: 87.5%;
    }
    @include respond-to(992) {
        font-size: 95%;
    }
    @include respond-to(1200) {
        font-size: 100%;
    }
}

h1 {
    font: ultra-expanded 3.000em "AmericanTypewriter";
    text-transform: uppercase;
    letter-spacing: 0.042em;
    @include respond(320, 768) {
        text-align: center;
    }
    @include respond-to(768) {
        margin: 0;
    }
}

h2 {
    padding: 0.600em 0 0.800em;
    font: 1.850em "Arial";
    letter-spacing: -.086em;
    text-transform: uppercase;
}

h4 {
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

figure {
    margin: auto;
    @include respond(320, 768) {
        text-align: center;
    }
}

ul {
    list-style: none;
    padding-left: 0;
}

.wrapper {
    width: 99%;
    @include respond(992, 4801) {
        width: 79%;
    }
}

.rss {
    position: absolute;
    top: 2.400em;
    right: 8.500em;
    color: dimgray;
    @include respond(100, 768) {
        display: none;
    }

    .fa-2x {
        padding-right: 0.500em;
        font-size: 1.400em;
    }

    &__listitem {
        display: block;
        text-transform: uppercase;

        &__anchor {
            font: 700 0.700em "Arial";
        }
    }
}

.mainmenu {
    display: inline-block;
    margin-right: 1.700em;
}

#back-to-top {
    position: fixed;
    bottom: 0.300em;
    right: 0.300em;
    width: 1.000em;
    height: 1.000em;
    z-index: 9999;
    vertical-align: middle;
    border: 0;
    border-radius: 0.500em;
    background: #6db5b4;
    transition: opacity 0.2s ease-out;
    font-size: 3.000em;
    text-align: center;
    color: white;
    opacity: 0;
}

#back-to-top:hover {
    background: $brandedcolor;
}

#back-to-top.show {
    opacity: 1;
}
@import "header";
@import "nav";
@import "main";
@import "footer";
