<!DOCTYPE html>
<html lang="en" ng-app="todoApp">

<head>
    <meta charset="UTF-8">
    <title>toDoList Angular</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap-theme.min.css"/>

    <link rel="stylesheet" href="css/styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/constants/settings.js"></script>
    <script src="js/services/apiService.js"></script>
    <script src="js/services/casheService.js"></script>
    <script src="js/services/messagesService.js"></script>
    <script src="js/directives/toDoItem.js"></script>
    <script src="js/components/toDoPage/toDoController.js"></script>
</head>

<body>
		<div class="container">
			<div ng-controller="TodoListController as control">

				<div
				 ng-if="!control.toDoListIsVisible">
	        <div class="jumbotron">
	            <h1>TODO-лист</h1>
	            <p>
	            	<button
	            		type="button"
	            		ng-click="control.statrToDoList()"
	            		class="btn btn-primary btn-lg">
	            			Начать работу
	            	</button>
	            </p>
	        </div>
		    </div>
				
				<div ng-if="control.toDoListIsVisible" class="row">
					<div class="col-xs-12">
						<h1>TODO-лист <span class="name">{{control.boardName}}</span></h1>

					</div>
					<div class="col-xs-3">
						<h2>Делать</h2>

						<to-do-item
								ng-repeat="(taskId, item) in control.filterTasks(control.board, 'todo')"
								task-id="{{taskId}}"
								on-remove="control.removeTask(taskId)"
								on-status-change="control.sendTask(taskId)"
								item-data="item"></to-do-item>
					</div>
					<div class="col-xs-3">
						<h2>В работе</h2>

						<to-do-item
							ng-repeat="(taskId, item) in control.filterTasks(control.board, 'inprogress')"
							task-id="{{taskId}}"
							on-remove="control.removeTask(taskId)"
							on-status-change="control.sendTask(taskId)"
							item-data="item"></to-do-item>
					</div>
					<div class="col-xs-3">
						<h2>Готово</h2>

						<to-do-item
							ng-repeat="(taskId, item) in control.filterTasks(control.board, 'done')"
							task-id="{{taskId}}"
							on-remove="control.removeTask(taskId)"
							on-status-change="control.sendTask(taskId)"
							item-data="item"></to-do-item>
					</div>
					<div class="col-xs-3">
						<h2>Новая задача</h2>

						<div class="item">
							<form ng-submit="control.createTask(control.createForm)" name="control.createForm" class="add-task" novalidate>
								<div class="form-group">
									<label for="title">Задача</label>

									<input
									 id="title" 
									 type="text" 
									 ng-model="control.title" 
									 class="form-control"
									 ng-class="{error: control.createForm.$submitted}"
									 placeholder="Название"
									 required/>

									<label for="description">Описание</label>

									<textarea
									 id="description"
									 class="form-control"
									 ng-model="control.description"
									 ng-class="{error: control.createForm.$submitted}"
									 rows="3"
									 placeholder="Описание"
									 required></textarea>

								</div>
								<button type="submit" class="btn btn-default">Добавить задачу</button>

							</form>
						</div>
					</div>
				</div>

	    </div>
		</div>    
</body>

</html>
