* {
  position: relative;
  margin: 0 auto;
  box-sizing: border-box; }

@media only screen and (min-width: 0px) and (max-width: 479px) {
  html {
    font-size: 75%; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  html {
    font-size: 80%; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 87.5%; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 95%; } }

@media only screen and (min-width: 1200px) and (max-width: 4800px) {
  html {
    font-size: 100%; } }

h1 {
  font: 1.250em "Bitter";
  color: white; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    h1 {
      margin-top: 1.800em; } }
  @media only screen and (min-width: 1200px) and (max-width: 4800px) {
    h1 {
      margin-top: 1.800em; } }

h2 {
  padding: 0 .500em .500em;
  font: 2.250em "P22 Corinthia";
  text-align: center;
  color: white; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    h2 {
      font: 6.250em "P22 Corinthia"; } }
  @media only screen and (min-width: 1200px) and (max-width: 4800px) {
    h2 {
      margin-top: 1.800em;
      font: 6.250em "P22 Corinthia"; } }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

figure {
  margin: auto; }

ul {
  padding: 0;
  list-style: none; }

li {
  display: inline-block; }

img {
  width: 100%; }

.wrapper {
  width: 100%;
  border: 0.1px solid red; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .wrapper {
      width: 95%; } }
  @media only screen and (min-width: 1200px) and (max-width: 4800px) {
    .wrapper {
      width: 95%; } }

#back-to-top {
  position: fixed;
  bottom: 0.300em;
  right: 0.300em;
  width: 1.000em;
  height: 1.000em;
  z-index: 9999;
  vertical-align: middle;
  border: 0;
  border-radius: 0.500em;
  background: #4d97e1;
  transition: opacity 0.2s ease-out;
  font-size: 3.000em;
  text-align: center;
  color: white;
  cursor: pointer;
  opacity: 0; }

#back-to-top:hover {
  background: #488dd3; }

#back-to-top.show {
  opacity: 1; }

#header {
  padding: 0.500em 2.500em 0;
  background-color: #dadada; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    #header {
      height: 600px;
      padding: 6.250em 12.500em 0;
      background: url("../img/hero_small.png") bottom no-repeat #dadada; } }
  @media only screen and (min-width: 1200px) and (max-width: 4800px) {
    #header {
      height: 800px;
      padding: 6.250em 12.500em 0;
      background: url("../img/hero_small.png") center no-repeat #dadada; } }

.headercontainer {
  width: 100%;
  padding: 0.500em; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .headercontainer {
      position: absolute;
      top: 0;
      left: 0;
      height: 6.250em;
      padding: 0 4.500em;
      background-color: rgba(180, 185, 191, 0.65); } }
  @media only screen and (min-width: 1200px) and (max-width: 4800px) {
    .headercontainer {
      position: absolute;
      top: 0;
      left: 0;
      height: 6.250em;
      padding: 0 12.500em;
      background-color: rgba(180, 185, 191, 0.65); } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .headercontainer__left {
      float: left; } }
  @media only screen and (min-width: 1200px) and (max-width: 4800px) {
    .headercontainer__left {
      float: left; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .headercontainer__right {
      margin-top: 1.800em;
      float: right; } }
  @media only screen and (min-width: 1200px) and (max-width: 4800px) {
    .headercontainer__right {
      margin-top: 1.800em;
      float: right; } }

.fa-bed:before,
.fa-fax:before,
.fa-info:before,
.fa-shopping-basket:before,
.fa-shopping-cart:before,
.fa-sign-in:before {
  margin-right: 0.6em; }

.navigation {
  width: 6.250em;
  vertical-align: middle;
  text-align: center;
  line-height: 2.500em;
  color: white; }
  .navigation:hover {
    outline: white solid 2px;
    transition: 0.5s;
    -moz-outline-radius: 2px; }
  .navigation span {
    font: 1.000em "Lato"; }

h2 + ul {
  position: absolute;
  display: none;
  width: 260px;
  top: 100px;
  left: 50%;
  margin-left: -130px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    h2 + ul {
      display: block;
      top: 200px; } }
  @media only screen and (min-width: 1200px) and (max-width: 4800px) {
    h2 + ul {
      display: block; } }

.underh2__anchor {
  padding: 0 0.800em;
  font: 0.875em "Lato";
  color: white; }
  .underh2__anchor:not(.underh2__anchor--last)::after {
    content: " - ";
    position: absolute;
    padding: 0 0.600em; }

.mainmenu {
  height: 3.000em;
  padding: 0.500em;
  background-color: #bfd9f2;
  letter-spacing: 0.100em; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .mainmenu {
      padding: 0.500em 2.500em; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .mainmenu {
      padding: 0.500em 2.500em; } }
  @media only screen and (min-width: 1200px) and (max-width: 4800px) {
    .mainmenu {
      padding: 2.200em 12.500em 4.000em; } }
  .mainmenu__question {
    float: left;
    margin-top: 0.2em;
    font: 1.250em "Lato";
    text-transform: uppercase;
    color: #95badf; }
  .mainmenu .fa-cog {
    float: right;
    color: #a0c3e5; }

.maincontainer {
  padding: 0 2.500em; }
  @media only screen and (min-width: 1200px) and (max-width: 4800px) {
    .maincontainer {
      padding: 0 12.500em; } }

.proposition {
  margin-top: 6.300em; }

.figure {
  display: inline-block;
  width: calc(92.6%/3); }
  .figure__image {
    height: 50%; }

.empty {
  width: 40px;
  display: inline-block; }

.price {
  position: absolute;
  border-radius: 4px;
  background-color: white;
  z-index: 100; }

#footer {
  padding: 0 2.500em; }
  @media only screen and (min-width: 1200px) and (max-width: 4800px) {
    #footer {
      padding: 0 12.500em; } }
