//main: style.scss
@font-face {
  font-family: 'Glasgow-Medium';
  src: url('../fonts/Glasgow-Medium.eot');
  src: url('../fonts/Glasgow-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Glasgow-Medium.woff2') format('woff2'), url('../fonts/Glasgow-Medium.woff') format('woff'), url('../fonts/Glasgow-Medium.ttf') format('truetype'), url('../fonts/Glasgow-Medium.svg#Glasgow-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Interstate';
  src: url('../fonts/interstate_boldcondensed-webfont.eot');
  src: url('../fonts/interstate_boldcondensed-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/interstate_boldcondensed-webfont.woff2') format('woff2'), url('../fonts/interstate_boldcondensed-webfont.woff') format('woff'), url('../fonts/interstate_boldcondensed-webfont.ttf') format('truetype'), url('../fonts/interstate_boldcondensed-webfont.svg#interstateboldcondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lady Copra';
  src: url('../fonts/lady_copra-webfont.eot');
  src: url('../fonts/lady_copra-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lady_copra-webfont.woff2') format('woff2'), url('../fonts/lady_copra-webfont.woff') format('woff'), url('../fonts/lady_copra-webfont.ttf') format('truetype'), url('../fonts/lady_copra-webfont.svg#lady_copraregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
