.bs {
	padding: 45px 15px 15px;

}

.jumbotron {
	border-radius: 10px;
	padding: 10px;
	text-align: center;
}

.item {
	background-color: #eee;
	border-radius: 5px;
	padding: 5px;
	position: relative;
	margin-bottom: 5px;
}

.close {
	position: absolute;
	right: 5px;
	top: 5px;
}

.form-control.ng-invalid.error {
	border-color: red;
}