html,body,ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h1 {
  margin-top: 0;
}
/* general */
.clearfix:after {
  display: block;
  content: '';
  clear: both;
}
/* body */
.main-style {
  background: lightgrey;
  width: 300px;
  margin:0 auto;
  padding: 30px;
}

.question {
  width: 300px;
}
.answer {
  margin: 0 auto;
  width: 200px;
  min-height: 20px;
  padding: 5px;
  content: '';
  text-align: center;
  background: gray;
  color: white;
}
.answer-small {
  width: 169px;
  padding: 0;
  margin-top: 2px;
}
.formatedForm input {
  margin-bottom: 5px;
}
.formatedForm select {
  width: 172px;
  height: 21px;
}
.submit-btn {
  height: 47px;
  width: 121px;
}
.left-floated {
  float: left;
}
.right-floated {
  float: right;
}
.quest3input {
  width: 172px;
  height: 41px;
  font-size: 18px;
  text-align: center;
}
.farm {
  text-align: left;
}
.dissabled {
  display: none;
}
.enabled {
  display: block;
  background: white;
  padding: 5px;
}
.special {
  margin-top: 10px;
  padding-top: 10px;
  background: #83A2C3;
  color: white;
  text-align: center;
}
.special-container {
  padding-bottom: 20px;
}
.special-container p{
  text-align: left;
  padding: 0 10px;
  font-size: 20px;
}
.special-container input {
  text-align: center;
  font-size: 25px;
  width: 90%;
  height: 30px;
  margin-bottom: 10px;
  border: 0;
}
.special-container h3 {
  display: block;
  background: #ffB87A;
}
.big-green-btn {
  border: 0;
  background: #46B87A;
  color: white;
  font-weight: bold; 
}
#storyLine {
  color: black;
}