<<<<<<< HEAD:Dibrova/sample/css/21-05-sass/sass/main/layouts/_footer.scss
.footer {
	background-color: $footerBgColor;
	height: $footerHigth;
	width: 1000px;
=======
/* FOOTER */
.footer {
	background-color: $footerBgColor;
>>>>>>> ecccc9d26dd68c71e9acf16b25d17ebff0b703cd:Raienko/htmlCourse/TestNewFeatures/sass_pract/00/sass/main/layouts/_footer.scss
}