//main: style.scss

#header {
    border-top: 10px solid rgba(0, 0, 0, 0.06);
    padding: 1.000em 0;
    @include respond-to(768) {
        padding: 1.800em 6.500em;
    }
    @include respond-to(992) {
        padding: 1.800em 6.500em;
    }
    @include respond-to(1200) {
        padding: 0 6.500em;
    }
}
