// Our variables and constants

//Container params

$containerWidth: 1000px;
$containerPadding: 15px;
$mainWidth: 600px;
$sidebarWidth: 250px;
$sidebarMargin: 50px;

$headerHeight: 100px;
$headerMargin: 0 0 20px;

$generalBgColor : #bee;


$HeaderBgColor : #dfe;