

.login-form {
	padding: 15px;
}

.login-form form {
	margin: 0;
}



.row {
	overflow: hidden;
	margin-bottom: 20px;
}

.row > label {
	float: left;
	width: 100px;
}

.row > input {
	display: block;
	width: 100%;
	font-size: 16px;
	line-height: 18px;
	padding: 7px 3px;
	border: none;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="submit"] {
	display: block;
	width: 100%;
	background: green;
	border: none;
	
}
