%iconsSprite {
	background: url(../img/sprite.png) no-repeat;
	height: $iconSize;
	width: $iconSize;
	display: inline-block;
	margin: 10px;
}

$i: 0;
$j: 0;

@while $j < $colIconsY {
	.icon-#{$j}-#{$i} {
		@extend %iconsSprite;
		background-position: -#{$i * $iconSize} -#{$j * $iconSize};
	}

	$i: $i + 1;

	@if $i > $colIconsX {
		$i: 0;
		$j: $j + 1;
	}
}


$i: 5;
$j: 9;

@each $name in $row {
	.icon-#{$name} {
		@extend %iconsSprite;
		background-position: -#{$i * $iconSize} -#{$j * $iconSize};
	}

	$i: $i + 1;

	@if $i > $colIconsX {
		$i: 0;
		$j: $j + 1;
	}
}

@mixin respond-to($from, $to) {
 @media only screen and (min-width: #{$from}px) and (max-width: #{$to - 1}px) {
	@content;
 }
}

.class {
	background: green;

	@include respond-to(768, 1200) {
		background: red;
	}
}