/* Chrome only */
html, body {
  padding: 0;
  margin: 0;
}
html {
  background: #ebebeb;
}
.hide-this {
  width: 98vw;
  background-color: red;
  position: relative;
  height: 1px;
  top:-1px;
  text-align: center;
}
.you-mean-this {
  content: '';
  display: inline-block;
  position: relative;
  left:-650px;
  width: 450px;
  height: 350px;
  background: linear-gradient(38deg, 
    #ebebeb 0px,
    #ebebeb 278px,
    #00aedb 279px,
    #00aedb 329px,
    #8cc63f 330px,
    #8cc63f 370px,
    #5261ac 371px,
    #5261ac 411px,
    #ec098d 412px,
    #ec098d 452px,
    #f78f1d 453px,
    #f78f1d 493px,
    transparent 614px);
  background-repeat: no-repeat;
}
.hidden-image {
  position: absolute;
  left: -920px;
}
.hidden {
  display: inline-block;
  position: absolute;
  left:-9999px;
}
.wrapper {
  width: 1055px;
  margin: 0 auto;
  position: relative;
  top:-20px;
}
.wrapper-content-padding {
  float: right;
}
.wrapper-white-background {
  background: white;
  position: relative;
}
.clearfix:after {
  content:"";
  display:block;
  clear:both;
}
.header-block {
  background-color: white;
  height: 490px;
  padding: 0px 25px 20px 25px;
}
.header-top {
  padding-top: 28px;
  padding-bottom: 10px;
  height: 70px;
  text-align: center;
}
.logo-holder {
  display: inline-block;
  vertical-align: top;
  float: left;
}
.header-block ul {
  display: inline-block;
  vertical-align: top;
  float: right;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 17px;
}
.header-block ul li {
  display: inline-block;
  list-style: none;
  float: left;
  margin-right: 5px;
}
.header-block ul li a {
  display: inline-block;
  width: 38px;
  height: 36px;
}
.search-form {
  display: inline-block;
  margin-top: 35px;
}
.search-form input {
  float: left;
  padding: 0;
  margin: 0;
  width: 320px;
  height: 33px;
  border: 1px solid #e5e5e5;
  border-right: none;
}
.search-form input+input {
  width: 120px;
  height: 35px;
  background: #00aedb;
  border: 0;
  color: white;
  font-size: 19pt;
  text-transform: uppercase;
}
.rss-icon {
  background: url('../images/social_sprite.png') 0px 0px;
}
.facebook-icon {
  background: url('../images/social_sprite.png') -38px 0px;
}
.twich-icon {
  background: url('../images/social_sprite.png') -76px 0px;
}
.navigation {
  padding: 0;
  margin: 0;
}
.navigation ul{
  padding: 0;
  margin: 0;
  width: 1005px;
  background: #898989;
}
.navigation ul li {
  padding: 3px 10px 0 10px;
  margin: 0;

  list-style: none;
  display: inline-block;
  float: left;
  text-transform: uppercase;
  font-size: 19pt;
  font-family: 'Arial Narrow';
  font-weight: bold;
  height: 32px;
  text-align: center;
}
.navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  width: 100%;
}
.home-button {
  background: #00aedb;
}
.cinema-button {
  background: #8cc63f; 
}
.magazine-button {
  background: #5261ac; 
}
.cssauthor-button {
  background: #00aedb; 
}
.topmenu-button {
  background: #f78f1d; 
}
.archives-button {
  background: #ff0000; 
}
.contactus-button {
  background: #898989;
}
.top-stories-holder {
  position: relative;
  margin-top: 10px;
}
.top-stories-holder h3{
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #00aedb;
  font-size: 19pt;
  font-family: Arial;
}
.story {
  width: 326px;
  height: 290px;
  float: left;
  margin-right: 9px;
}
.story a {
  display: block;
  width: 326px;
  height: 35px;
  text-decoration: none;
  text-align: left;
  font-size: 19pt;
  color: white;
  padding-top: 5px;
  text-transform: uppercase;
  font-family: Arial;
}
.story a:before {
  display: inline-block;
  position: relative;
  top:-3px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.5px 0 6.5px 8px;
  border-color: transparent transparent transparent #ffffff;
  margin: 0px 11px;
}
.story p {
  margin: 14px 0px 0px 0px;
  padding: 0;
  color: #6a6666;
  font-family: Helvetica;
  font-size: 15pt;
}
.story-cinema {
  background-color: #00aedb ;
}
.story-cinema:after {
  display: inline-block;
  content: '';
  position: relative;
  left:-150px;
  top:0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 14px 11px 0;
  border-color: transparent #00aedb transparent transparent;
}
.story-travel {
  background-color: #f78f1d ;
}
.story-television {
  background-color: #ec098d ;
}
.story-television:after {
  display: inline-block;
  content: '';
  position: relative;
  right:-155px;
  top:0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 0 11px 14px;
  border-color: transparent transparent transparent #ec098d;
}
.main-block {
  background-color: white;
  width: 700px;
  float: left;
}
.post-holder {
  background-color: white;
  width: 650px;
  position: relative;
  padding-left: 30px;
}
.post {
  font-family: Helvetica;
  position: relative;
  margin-bottom: 50px;
}
.post h2 {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 30pt;
  text-align: left;

}
.post:before {
  content: '28';
  display: inline-block;
  position: absolute;
  left:-80px;
  top:7px;
  width: 70px;
  height: 50px;
  background-color: #f78f1d;
  color: white;
  font-weight: bold;
  font-size: 35pt;
  text-align: center;
}
.post:after {
  content: 'FEB';
  display: inline-block;
  position: absolute;
  left:-70px;
  top:50px;
  top:57px;
  width: 60px;
  height: 30px;
  background-color: #00aedb;
  color: white;
  font-weight: bold;
  font-size: 19pt;
  text-align: center;

}
.post-image-holder {
  padding: 12px;
  width: 625px;
  margin: 0;
  border: 1px solid #bfbfbf;
  font-size: 0;
}
.post-image-holder ul {
  padding: 0;
  width: 625px;
  margin: 9px 0 0 0;
}
.post-image-holder ul li {
  display: inline-block;
}
.post-image-holder ul li+li {
  margin: 0px 0px 0px 6px;
}
.post-image-holder ul li a {
  display: inline-block;
  padding: 3px;
  border: 1px solid #bfbfbf;
  font-size: 0;
}
.post-description ul {
  padding: 0;
  margin: 10px 0 0 0;
  color: #6a6666;
}
.post-description ul li {
  padding: 0;
  margin: 0 25px 0 0;
  display: inline-block;
  float: left;
}
.post-description ul li a {
  text-decoration: none;
  color: #6a6666;
}
.post-description ul li+li a {
  display: inline-block;
  background: url('../images/icon_comments.png') no-repeat;
  padding-left: 30px;
}
.post-description div {
  float: right;
  margin: 2px 12px 0 0;
}
.post-description div a {
  text-decoration: none;
  color: #6a6666;
}
.older-post {
  margin-bottom: 30px;
}
.older-post a {
  text-decoration: none;
  color: #6a6666;
  font-family: Helvetica;
  font-size: 11pt;
}
.aside-block {
  float: right;
  width: 330px;
  padding-right: 25px;
  background-color: white;
  font-family: Helvetica;
  padding-bottom: 15px;
}
.aside-block h4 {
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  background: #5261ac;
  height:30px;
  color: white;
  text-align: left;
  font-size: 19px;
  padding-top: 8px;
  padding-left: 15px;
  text-transform: uppercase;
  margin-bottom:10px; 
}
.top-stories h4 {
  width: 140px;
}
.top-stories h4:after {
  display: inline-block;
  position: absolute;
  content: '';
  right:-38px;
  top:0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 38px 0 0 38px;
  border-color: transparent transparent transparent #5261ac;
}
.decoration {
  position: absolute;
  right: -13px;
  top:-8px;
}
.aside-nav-fashion {
  width: 30%;
  background-color: #ec098d;
  border-color:#ec098d;
}
.aside-nav-cinema {
  width: 30%;
  background-color: #f78f1d;
  border-color: #f78f1d;
}
.aside-nav-television {
  width: 40%;
  background-color: #00aedb;
  border-color:#00aedb;
}
.active-tab:after {
  display: inline-block;
  position: relative;
  z-index: 1;
  content: '';
  left: 0px;
  bottom: 1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 6.5px 0 6.5px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color:inherit;
}
.rainbow-aside {
  width: 13px;
  height: 475px;
  background: repeating-linear-gradient(to bottom, 
    #ec098d 0px,
    #ec098d 33px,
    #5261ac 34px,
    #5261ac 67px,
    #8cc63f 68px,
    #8cc63f 101px,
    #00aedb 102px,
    #00aedb 135px,
    #f78f1d 136px,
    #f78f1d 170px);
  transform: skewY(-42deg);
}
.decor-top {
  margin-top: 0;
  margin-bottom: 300px;
}
.decor-middle {
  margin-bottom: 300px;
}
.decor-bottom {
  margin-bottom: 300px;
}
.top-stories-nav {
  padding: 0;
  margin: 0;
  height: 38px;
}
.top-stories-nav li {
  display: inline-block;
  position: relative;
  list-style: none;
  height: 28px;
  float: left;
  text-align: center;
  padding-top: 10px;
}
.top-stories-nav li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.top-stories-post {
  padding: 15px 10px 15px 0;
  margin: 0;
  border-bottom: 1px solid;
  border-bottom-color: #dedddd;
}
.stories-image-holder {
  float: left;
  width: 75px;
  padding: 3px;
  border: 1px solid #c9c9c9;
  font-size: 0;
  margin-right: 10px;
}
.top-stories-post h5 {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  color: #00aedb;
}
.top-stories-post p {
  margin: 10px 0 0 0;
  font-size: 15px;
}
.might-like-post {
  height: 78px;
  margin-top:15px;
}
.might-like-post a {
  text-decoration: none;
  color: #00aedb;
}
.might-like-post a:after {
  content: '\00bb'; 
}
.mightlike-image-holder {
  float: left;
  width: 69px;
  padding: 3px;
  border: 1px solid #c9c9c9;
  font-size: 0;
  margin-right: 10px;
}
.archives {
  margin-top: 15px;
}
.archives ul {
  padding: 0;
  margin:0;
}
.archives ul li{
  padding: 0;
  margin:0;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  list-style: none;
}
.archives ul li:before{
  display: block;
  content: '';
  position: absolute;
  left:10px;
  top:4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 7px;
  border-color: transparent transparent transparent #5261ac;
}
.archives ul li+li:after {
  position: relative;
  bottom: 40px;
  display: block;
  content: '';
  height: 1px;
  background: #dedddd;
}
.tag-cloud a {
  text-decoration: none;
  margin-right: 10px;
  color: #5261ac;
}
.tag-1 a{
  font-size: 12px;
  font-weight: bold;
}
.tag-2 a{
  font-size: 18px; 
}
.tag-3 a{
  font-size: 13px;
  font-weight: bold;
}
.tag-4 a{
  font-size: 15px;
}
.tag-5 a{
  font-size: 19px;
  font-weight: bold;
  color: orange;
}
.footer-block {
  position: relative;
}
.rainbow-bottom {
  width: 1055px;
  height: 5px;
  background: repeating-linear-gradient(to right, 
    #ec098d 0px,
    #ec098d 33px,
    #5261ac 34px,
    #5261ac 67px,
    #8cc63f 68px,
    #8cc63f 101px,
    #00aedb 102px,
    #00aedb 135px,
    #f78f1d 136px,
    #f78f1d 170px);
  position: relative;
  top: -8px;
}
.designed-by {
  display: block;
  text-align: center;
  padding: 20px 0;
}
.designed-by a{
  font-size: 18px;
  font-family: Helvetica;
  text-decoration: none;
  color: #6a6666;
}
