body {
	margin: 0;
	color: #494949;
	font: 14px/20px Arial, Helvetica, sans-serif;
	background: #ebebeb;
}
img {border-style: none;}
a {
	text-decoration: none;
	color: #5261ac;
}
a:hover {text-decoration: underline;}
input,
textarea,
select {
	font: 100% arial,sans-serif;
	vertical-align: middle;
}
form,fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
header, footer, article, section, hgroup, nav, figure {display: block;}
#wrapper{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.wrap1 {
	width: 1810px;
	position: relative;
	float: left;
	left: 50%;
}
.wrap2 {
	width: 1810px;
	position: relative;
	float: left;
	left: -50%;
	background: url(../images/bg-oblique-stripes.png) no-repeat;
}
.wrap3{
	background: url(../images/bg-stripes.png) repeat-y 100% 0;
	width: 1081px;
	margin: 0 auto;
}
.wrap4{
	background: url(../images/bg-stripes-top.png) no-repeat 100% 0;
	padding: 0 13px;
}
.wrap5{
	background: #fff;
}
#header {
	padding: 28px 32px 21px 30px;
}
.header-holder {
	margin: 0 0 17px;
}
.header-holder:after {
	display: block;
	content:'';
	clear: both;
}
.logo {
	width: 187px;
	height: 64px;
	background: url(../images/logo.png) no-repeat;
	float: left;
	text-indent: -9999px;
	overflow: hidden;
}
.logo a {
	height: 100%;
	display: block;
}
.form-search {
	float: left;
	margin: 32px 0 0 101px;
}
.form-search input[type='text'] {
	float: left;
	height: 22px;
	border: solid #e5e5e5;
	border-width: 1px 0 1px 1px;
	width: 307px;
	font-size: 19px;
	line-height: 21px;
	padding: 6px 5px;
}
.form-search input[type='text']:focus {
	outline: none;
	border-color: #00aedb;
}
.form-search input[type='submit'] {
	padding: 0 19px;
	border: none;
	float: left;
	background: #00aedb;
	height: 36px;
	color: #fff;
	text-transform: uppercase;
	font-size: 19px;
	line-height: 21px;
	font-weight: bold;
	cursor: pointer;
}
.social-icons {
	list-style: none;
	float: right;
	padding: 0;
	margin: 27px 0 0;
}
.social-icons li {
	float: left;
}
.social-icons li+li {
	margin: 0 0 0 7px;
}
.social-icons a {
	width: 38px;
	height: 36px;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../images/social.gif) no-repeat;
}
.social-icons li .icon-rss {
	background-position: 0 0;
}
.social-icons li .icon-facebook {
	background-position: -44px 0;
}
.social-icons li .icon-twitter {
	background-position: -87px 0;
}
.nav {
	background: #898989;
	text-transform: uppercase;
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
}
.nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav ul li {
	display: inline-block;
	vertical-align: top;
	font-size: 19px;
	line-height: 36px;
	font-weight: bold;
	letter-spacing: normal;
}
.nav ul a {
	display: block;
	color: #fff;
	padding: 0 10px;
}
.bg-pink {
	background: #ec098d;
}
.bg-orange {
	background: #f78f1d;
}
.bg-blue {
	background: #00aedb;
}
.bg-green {
	background: #8cc63f;
}
.bg-purple {
	background: #5261ac;
}
.bg-orange {
	background: #f78f1d;
}
.bg-red {
	background: #ff0000;
}
.bg-grey {
	background: #898989;
}
#main {
	background: url(../images/colored-line.png) repeat-x 0 100%;
	padding: 0 25px 69px 30px;
}
#main:after {
	display: block;
	content:'';
	clear: both;
}
.stories-section {
	margin: 0 0 21px;
}
.stories-section h3 {
	font-size: 19px;
	line-height: 21px;
	color: #00aedb;
	margin: 0 0 10px;
	text-transform: uppercase;
}
.carousel .mask {
	overflow: hidden;
	position: relative;
}
.carousel .mask .slideset {
	width: 99999px;
	float: left;
}
.carousel {
	position: relative;
}
.carousel .slide {
	width: 326px;
	float: left;
	font-size: 15px;
	line-height: 20px;
	color: #6a6666;
	font-weight: bold;
}
.carousel .slide+.slide {
	padding: 0 0 0 10px;
}
.carousel .slide img {
	display: block;
	margin: 0 0 3px;
}
.carousel .slide .btn {
	display: block;
	font-size: 19px;
	line-height: 21px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	padding: 7px 15px 7px 11px;
	margin: 0 0 11px;
}
.carousel .slide .btn:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	padding: 0px 11px 0 0;
	margin: -5px 0 0;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 7px 0 7px 8px;
	border-color: transparent transparent transparent #fff;
}
.carousel .slide p {
	margin: 0;
}
.carousel .btn-prev,
.carousel .btn-next {
	position: absolute;
	bottom: 57px;
	right: 100%;
	margin: 0 9px 0 0;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 12px 14px 12px 0;
	border-color: transparent #00aedb transparent transparent;
	text-indent: -9999px;
	overflow: hidden;
}
.carousel .btn-next {
	border-color: transparent transparent transparent #ec098d;
	left: 100%;
	margin: 0 0 0 4px;
	border-width: 12px 0 12px 14px;
}
#content {
	width: 652px;
	float: left;
}
.posts-holder{
	margin-bottom: -20px;
}
.post {
	position: relative;
	margin-bottom: 20px;
}
.detailed-post {
	padding: 0 0 14px;
}
.post .date {
	color: #fff;
	background: #f78f1d;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: 10px;
	left: -76px;
	width: 68px;
	font-size: 35px;
	line-height: 46px;
}
.post .date .month {
	background: #00aedb;
	text-transform: uppercase;
	font-size: 19px;
	line-height: 27px;
	display: block;
}
.post h1 {
	font-size: 35px;
	line-height: 47px;
	color: #000;
	margin: 0 0 5px;
}
.post p {
	margin: 0 0 17px;
}
.gallery {
	border: 1px solid #bfbfbf;
	padding: 12px 12px 10px 11px;
	margin: 0 0 11px;
}
.detailed-post .gallery {
	margin: 0 0 28px;
}
.gallery img {
	margin: 0 0 10px;
	display: block;
}
.gallery ul {
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.gallery ul li {
	width: 150px;
	float: left;
}
.gallery ul li+li {
	margin: 0 0 0 8px;
}
.gallery ul li img {
	border: 1px solid #bfbfbf;
	padding: 3px;
	margin: 0;
}

.post-meta {
	font-size: 15px;
	line-height: 17px;
	color: #6a6666;
	padding: 0 0 20px;
}
.post-meta:after {
	content: '';
	display: block;
	clear: both;
}
.post-meta a{
	color: #6a6666;
}
.post-meta ul{
	margin: 0;
	padding: 0 0 0 7px;
	list-style: none;
	float: left;
}
.post-meta ul li {
	display: inline;
	margin: 0 27px 0 0;
}
.post-meta .comments {
	background: url(../images/comment.png) no-repeat;
	padding: 0 0 0 30px;
}
.post-meta .more {
	float: right;
	padding: 0 18px 0 0;
}
.older {
	font-size: 15px;
	line-height: 17px;
	display: inline-block;
	vertical-align: top;
	color: #6a6666;
}
.content-block {
	padding: 0 0 13px;
}
.content-block:after {
	content: '';
	display: block;
	clear: both;
}
.heading {
	margin: 0 0 38px -30px;
	padding: 0 62px 0 23px;
	display: inline-block;
	vertical-align: top;
	color: #fff;
	background: #5261ac url(../images/heading-corner.gif) no-repeat 100% 0;
}
.heading h2 {
	font-size: 17px;
	line-height: 36px;
	text-transform: uppercase;
	margin: 0;
}
.items-list {
	overflow: hidden;
}
.items-list ul {
	list-style: none;
	padding: 0;
	float: left;
	width: 300px;
	margin: 0 26px 0 0;
}
.items-list ul li {
	padding: 0 0 13px 15px;
	background: url(../images/mark.png) no-repeat 0 4px;
	font-size: 13px;
	line-height: 15px;
}
.items-list ul a {
	color: #494949;
}
.comment-form {
	padding: 2px 0 10px;
	width: 555px;
}
.comment-form .row {
	margin: 0 0 24px;
}
.comment-form .row:after {
	display: block;
	content:'';
	clear: both;
}
.comment-form label {
	width: 90px;
	display: inline-block;
	vertical-align: top;
	text-align: right;
	margin: 0 24px 0 0;
	font-size: 17px;
	padding: 6px 0 0;
}
.comment-form input[type='text'] {
	width: 423px;
	height: 24px;
	border-style: none;
	border: 1px solid #b0b0b0;
	padding: 5px 5px;
	border-radius: 4px;
}
.comment-form textarea {
	width: 423px !important;
	min-height: 122px;
	border: 1px solid #b0b0b0;
	padding: 5px 5px;
	border-radius: 4px;
}
.comment-form input[type='text']:focus,
.comment-form textarea:focus {
	outline: none;
	border-color: #494949;
}
.comment-form input[type='submit'] {
	border-style: none;
	border-radius: 4px;
	background: #f78f1d;
	color: #fff;
	padding: 0 18px;
	cursor: pointer;
	height: 35px;
	line-height: 35px;
	float: right;
	margin: -11px 7px 0 0;
}
.comment-form input[type='submit']:hover {
	opacity: 0.8;
}
.comments-holder{
	padding: 13px 0 0;
}
.comment {
	padding: 0 80px 25px 28px;
}
.comment:after{
	display: block;
	content:'';
	clear: both;
}
.comment img {
	float: left;
	margin: 0 15px 0 0;
}
.comment .text-holder {
	border-bottom: 1px solid #d5d5d5;
	padding: 0 0 13px;
	position: relative;
	float: left;
	width: 446px;
}
.comment .entry {
	overflow: hidden;
	margin: 0 0 10px;
}
.comment h3 {
	margin: 0;
	float: left;
}
.comment h3 a {
	font-size: 17px;
	line-height: 19px;
	color: #5261ac;
}
.comment .date {
	float: right;
	font-size: 13px;
	line-height: 15px;
}
.comment p {
	margin: 0;
	font-size: 13px;
	line-height: 17px;
}
.comment .btn-reply {
	font-size: 15px;
	line-height: 17px;
	color: #5261ac;
	position: absolute;
	right: 0;
	bottom: -10px;
	background: #fff;
	padding: 0 17px;
}
#sidebar {
	float: right;
	width: 328px;
}
#sidebar .heading{
	margin: 0 0 5px;
}
#sidebar .heading h3,
.sidebar-block .title h3 {
	margin: 0;
	font-size: 19px;
	line-height: 36px;
}
.sidebar-block{
	margin: 0 0 6px;
	font-size: 13px;
	line-height: 17px;
}
.sidebar-block .title{
	background: #5261ac;
	color: #fff;
	text-transform: uppercase;
	padding: 0 20px;
	margin: 0 0 15px;
}
.tabset {
	list-style: none;
	padding: 0;
	margin: 0;
	background: #00aedb;
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
}
.tabset li {
	display: inline-block;
	vertical-align: top;
	font-size: 19px;
	line-height: 36px;
	letter-spacing: normal;
}
.tabset li a {
	display: inline-block;
	vertical-align: top;
	color: #fff;
	padding: 0 7px;
	text-transform: uppercase;
	position: relative;
}
.tabset li a:after{
	display: none;
	position: absolute;
	bottom: -6px;
	left: 50%;
	margin: 0 0 0 -8px;
	content: '';
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
}
.tabset li .bg-pink:after {
	border-top: 10px solid #ec098d;
}
.tabset li .bg-orange:after {
	border-top: 10px solid #f78f1d;
}
.tabset li .bg-blue:after {
	border-top: 10px solid #00aedb;
}
.tabset .active a:after {
	display: block;
}
.tab {
	padding:  0 0 5px;
}
.tab .item {
	overflow: hidden;
	
	padding: 13px 0;
}
.tab .item+.item {
	border-top: 1px solid #dedddd;
}
.tab img {
	float: left;
	padding: 3px;
	border: 1px solid #c5c5c5;
	margin: 0 10px 0 0;
}
.tab .tabs-info {
	overflow: hidden;
}
.tab .tabs-info h3 {
	margin: 2px 0 8px;
	font-size: 14px;
	line-height: 20px;
}
.tab .tabs-info h3 a {
	font-size: 15px;
	line-height: 17px;
	color: #00aedb;
}
.tab .tabs-info p {
	margin: 0;
}
.recommended {
	overflow: hidden;
	margin: 0 0 17px;
}
.recommended img {
	float: left;
	border: 1px solid #c3c3c3;
	padding: 3px;
	margin: 0 15px 0 0;
}
.recommended p {
	margin: 8px 0 10px;
}
.recommended .more {
	color: #00aedb;
}
.archives-list {
	list-style: none;
	padding: 0;
	margin: 0 0 18px;
}
.archives-list li {
	background: url(../images/mark.png) no-repeat 5px 12px;
	padding: 9px 0 7px 24px;
}
.archives-list li+li {
	border-top: 1px solid #dedddd;
}
.archives-list a {
	color: #494949;
}
.tags ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.tags ul li {
	display: inline;
}
.tags ul a {
	color: #5261ac;
}
#footer {
	background: #ebebeb;
	text-align: center;
	color: #6a6666;
	padding: 30px 0;
}
.copyright a {
	color: #6a6666;
}