* {
    margin: auto;
    box-sizing: border-box;
    position: relative;
}
body {
    background: url(../img/background.png);
}
h1 {
  font-size: 2em;
  text-transform: uppercase;
}
.container {
    width: 1248px;
    border: .5px solid red;
}

/*-----NAV-----*/

.nav {
    padding: .5em 0;
    /*position: fixed;*/
    background-color: #5d9b9a;
}
menu > li {
    display: inline-block;
}

/*-----HEADER-----*/

#header {
    border: .5px solid blue;
    border-top: 10px solid rgba(0, 0, 0, 0.06);
    padding: 2em 6.250em;
}

/*-----MAIN-----*/

main {
    border: .5px solid blue;
    padding: 0 100px;
}
section {
    width: 70%;
    display: inline-block;
    border: .5px solid green;
}
article {
    height: 500px;
    border: .5px solid yellow;
    margin: 34px auto;
}
.articleLeft {
    width: 80%;
    height: 500px;
    border: 10px solid rgba(0, 0, 0, 0.06);
    float: right;
}
.articleAside {
    width: 20%;
    border: .5px solid rgb(115, 34, 122);
    height: 500px;
    float: left;
}
.rightAside {
    width: 30%;
    height: 100%;
    vertical-align: top;
    display: inline-block;
    border: .5px solid green;
}
.paginator {
    width: 100%;
    height: 30px;
    border: .5px solid green;
}

/*-----FOOTER-----*/

#footer {
    height: 100px;
    border: .5px solid blue;
    margin-bottom: 60PX;
}
