// main: style.scss

#footer {
    padding: 0.500em;
    background-color: #95badf;
    @include respond(768, 1200) {
        padding: 2.500em;
    }
    @include respond-to(992) {
        margin-bottom: 2.000em;
    }
    @include respond-to(1200) {
        padding: 6.000em 12.500em 0;
    }
}

.footermenu {
    display: inline-block;
    width: calc(100%/3);
    @include respond(768, 4801) {
        width: calc(70%/3);
    }

    &__list {
        padding-bottom: 1.100em;
        font: 1.000em "Lato";
        color: #ffffff;
    }
}

.aboutussocial {
    vertical-align: top;
    text-align: center;
    @include respond(768, 4801) {
        width: 30%;
        display: inline-block;
        text-align: left;
    }

    .fa {
        &-facebook,
        &-git,
        &-skype,
        &-twitter {
            margin-right: 1.200em;
            font-size: 1.100em;
            color: #ffffff;
        }
    }
}

.aboutus {
    @extend .footermenu__list;
    padding-bottom: 1.500em;
    line-height: 2.000em;
    text-align: justify;
}

h4 {
    a {
        font-weight: bold;
    }
}
