//main: style.scss

#header {
    padding: 0.500em 2.500em 0;
    background-color: #dadada;
    @include respond-to(992) {
        height: 600px;
        padding: 6.250em 12.500em 0;
        background: url("../img/hero_small.png") bottom no-repeat #dadada;
    }
    @include respond-to(1200) {
        height: 800px;
        padding: 6.250em 12.500em 0;
        background: url("../img/hero_small.png") center no-repeat #dadada;
    }
}

.headercontainer {
    width: 100%;
    padding: 0.500em;
    @include respond-to(992) {
        position: absolute;
        top: 0;
        left: 0;
        height: 6.250em;
        padding: 0 4.500em;
        background-color: rgba(#b4b9bf, 0.65);
    }
    @include respond-to(1200) {
        position: absolute;
        top: 0;
        left: 0;
        height: 6.250em;
        padding: 0 12.500em;
        background-color: rgba(#b4b9bf, 0.65);
    }

    &__left {
        @include respond-to(992) {
            float: left;
        }
        @include respond-to(1200) {
            float: left;
        }
    }

    &__right {
        @include respond-to(992) {
            margin-top: 1.800em;
            float: right;
        }
        @include respond-to(1200) {
            margin-top: 1.800em;
            float: right;
        }
    }
}

.fa-bed:before,
.fa-fax:before,
.fa-info:before,
.fa-shopping-basket:before,
.fa-shopping-cart:before,
.fa-sign-in:before {
    margin-right: 0.6em;
}

.navigation {
    width: 6.250em;
    vertical-align: middle;
    text-align: center;
    line-height: 2.500em;
    color: rgb(255, 255, 255);

    &:hover {
        outline: rgb(255, 255, 255) solid 2px;
        transition: 0.5s;
        -moz-outline-radius: 2px;
    }

    span {
        font: 1.000em "Lato";
    }
}

h2 + ul {
    position: absolute;
    display: none;
    width: 260px;
    top: 100px;
    left: 50%;
    margin-left: -130px;
    @include respond-to(992) {
        display: block;
        top: 200px;
    }
    @include respond-to(1200) {
        display: block;
    }
}

.underh2 {
    &__anchor {
        padding: 0 0.800em;
        font: 0.875em "Lato";
        color: white;

        &:not(.underh2__anchor--last)::after {
            content: " - ";
            position: absolute;
            padding: 0 0.600em;
        }
    }
}
