//main: style.scss

main {}

.mainmenu {
    height: 3.000em;
    padding: 0.500em;
    background-color: #bfd9f2;
    letter-spacing: 0.100em;
    @include respond-to(768) {
        padding: 0.500em 2.500em;
    }
    @include respond-to(992) {
        padding: 0.500em 2.500em;
    }
    @include respond-to(1200) {
        padding: 2.200em 12.500em 4.000em;
    }

    &__question {
        float: left;
        margin-top: 0.2em;
        font: 1.250em "Lato";
        text-transform: uppercase;
        color: rgb(149, 186, 223);
    }

    .fa-cog {
        float: right;
        color: rgb(160, 195, 229);
    }
}

.maincontainer {
    padding: 0 2.500em;
    @include respond-to(1200) {
        padding: 0 12.500em;
    }
}

.section {}

.proposition {
    margin-top: 6.300em;
}

.figure {
    display: inline-block;
    width: calc(92.6%/3);
    &__image {
      height: 50%;
    }
}

.empty {
    width: 40px;
    display: inline-block;
}

.price {
    position: absolute;
    border-radius: 4px;
    background-color: white;
    z-index: 100;
}
