
.holder {
	position: relative;
	width: 300px;
	height: 300px;
	margin: 0 auto;
	background: #ddd;

}
.triangle{
	display: block;
	position: absolute;
	top:50%;
	left: 50%;
	margin: -25px -25%;
	border-color: transparent #cdc transparent;
	border-style: solid;
	border-width: 12px 14px 12px 0;
	height: 0;

}

