html, body {
  padding: 0;
  margin: 0;
}
html {
  background: #ebebeb;
}
.striped-body {
  /* НАСТРОЙКИ ГРАДИЕНТА 
  Порядок цветов
  - белый (фон) начало
  - белый (фон) окончание
  - синий начало
  - синий окончание
  - зеленый начало
  - зеленый окончание
  - темно-синий начало
  - темно-синий окончание
  - розовый начало
  - розовый окончание
  - оранжевый начало
  - оранжевый окончание
  - белый (фон) до конца
   */
  background-image: linear-gradient(38deg, 
    #ebebeb 0px,
    #ebebeb 510px,
    #00aedb 511px,
    #00aedb 561px,
    #8cc63f 562px,
    #8cc63f 612px,
    #5261ac 613px,
    #5261ac 663px,
    #ec098d 664px,
    #ec098d 714px,
    #f78f1d 715px,
    #f78f1d 765px,
    #ebebeb 766px);
  background-repeat: no-repeat;
  background-size: 1600px 1600px;
  background-position: center -960px;
}
.wrapper {
  width: 1275px;
  margin: 0 auto;
}
.striped-background {
  /* НАСТРОЙКИ ГРАДИЕНТА 
  Порядок цветов
  - белый (фон) начало
  - белый (фон) окончание
  - синий начало
  - синий окончание
  - зеленый начало
  - зеленый окончание
  - темно-синий начало
  - темно-синий окончание
  - розовый начало
  - розовый окончание
  - оранжевый начало
  - оранжевый окончание
   */
  background: linear-gradient(38deg, 
    #ebebeb 0px,
    #ebebeb 510px,
    #00aedb 511px,
    #00aedb 561px,
    #8cc63f 562px,
    #8cc63f 612px,
    #5261ac 613px,
    #5261ac 663px,
    #ec098d 664px,
    #ec098d 714px,
    #f78f1d 715px,
    #f78f1d 765px);
  background-attachment: local;
}
.content-holder {
  margin: 0 0 0 auto;
  background-color: #6D9181;
  color: white;
  font-size: 54px;
  width: 1055px;
  height: 768px;
} 
