/* General customization */
.hidden {
  display: inline-block;
  position: absolute;
  left:-9999px;
  font-size: 0;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pseudo-wrapper {
  width: 960px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.body-style {
  background: #3a3d40;
}
/* Header */
.menu-button {
}
.menu-button li a{
 color: black; 
}
.menu-button li{
  margin: 0 auto;
  display: block;
  width: 70px;
  background-color: gray; 
}
.menu-button li:hover {
 background-color: #68AB53; 
}
.menu-button ul {
 display: none;
 text-align: center;
}
input {
  width: 32px;
  height: 32px;
  opacity: 0;
}
input[type=checkbox]:checked ~ ul {
    display: block
}
label {
  content: "";
  display: inline-block;
  position:relative; 
  left:-32px;
  top:0px;
  width: 32px;
  height: 32px;
  background: url("../images/elements/menu_button.png");
  background-position: 0px 0px;
}
input[type=checkbox]:checked ~ label{
  background-position: -32px 0px;
}
.wrapper-transparent {
  background: transparent;
}
.header-style {
  height: 58px;
  padding: 30px 0px 0px 0px;
}
.logo-holder {
  float: left;
}
.navigation {
  position: absolute;
  top:0px;
  right: 0px;
}
.navigation ul {
  font-size: 0;
}
.navigation a {
  display: block;
  padding: 50px 10px 20px 10px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.navigation a.active {
  background: #35373a;
  color: #7697ad;
}
.navigation li {
  border: 2px solid transparent;
  bottom: 0px;
  border-top:0;
  border-bottom: 0;
  border-left-color: #2d3032;
  border-right-color: #2d3032;
}
.navigation li+li {
  border-left: 0;
}
.underheader {
  background: #4a4d50;
  height: 5px;
  border-bottom: 1px solid black;
}
.wrapper-white {
  background: #fdfdfd;
}
.wrapper-dark-gray {
  background: #2f3235;
}
/* Main style */
.main-style {
  content: "";
  color: #555555;
  text-align: center;
  padding-top: 50px;
}
.content-image-holder {
  float: left;
}
.tabs-content {
  min-height: 380px;
}
.tabs-post {
}
.dotted-divider:after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: url("../images/elements/dots.png");
}
.blog-post-comments:before {
  content: "\0399";
  display: inline-block;
  padding-right: 10px;
}
.blog-post-comments:after {
  content: "comments";
  display: inline-block;
  padding-left: 10px;
}
.tabs-navigation ul{
  padding: 0;
  margin: 10px 0;
  font-size: 0;
  border: 1px solid transparent;
  border-bottom-color: #c5c5c5;
  text-align: center;
}
.tabs-navigation .active {
  background: #fdfdfd;
}
.tabs-navigation ul li{
  padding: 10px;
  margin: 0;
  font-size: 12px;
  position: relative;
  bottom: -1px;
  border: 1px solid #c5c5c5;
  border-bottom: 0;
}
.tabs-navigation li+li {
  border-left:0;
}
.latest-blog ul li{
  width: 390px;
  text-align: left;
}
.tags li {
}
