@font-face{
	font-family:"HelveticaNeueLT57Cn";
	src:url("http://www.myfontfree.com/data/541/h/helveticalt77boldcondensed/Helvetica LT 77 Bold Condensed.ttf");
}


body {font-family: Arial, Helvetica, sans-serif;
	background-color: #ebebeb;
}

.clearfix:after {content: "";
	display: table;
	clear: both;
	}


.wrapper {position: relative;
	width:1068px;
	margin:0 auto;
	box-sizing: border-box;
	background: url(../img/border.png) repeat-y top right;
	background-color: white;
	height: 2000px;
}

.header-wrapper{width: 980px;	
	margin: auto;
}

.linez{display:inline-block;
	position: absolute;
	top:0;
	left:-401px;
}

.bok{display:inline-block;
	position: absolute;
	top:0;
	right:0;
}

.main{width: 1055px;
	float: left;
	box-sizing: border-box;
	padding: 29px 31px 29px 31px;
}

.search-box, .logo{float: left;
}

.social{float:right;
	margin: 27px 3px 0px 0px;
}

.sbmt{background-color: #00aedb; 
	height: 36px;
	width: 120px;
	border: 0;
	color: #fff;
	font-size: 19px;
	font-weight: bold;
	line-height: 32px;
	margin-left: -8px;
}

.rss,.fb,.tv{display: inline-block; 
	height: 36px;
	width: 38px;
}

.rss{background: url(../img/sprite.png) no-repeat 0 0;}
.fb{background: url(../img/sprite.png) no-repeat -44px 0px;}
.tv{background: url(../img/sprite.png) no-repeat -88px 0px;}

.search-box{margin: 32px 0px 0px 101px;}

.search{height: 30px;
	width: 320px;
   line-height: 30px;
   font-size: 19px;
}

#nav {height: 36px;
	background-color: #898989;
	float:left;
	width:992px; 
	box-sizing: border-box;
}

header ul li{display:inline;
}

header ul li a{text-transform:uppercase;
font-family:"HelveticaNeueLT57Cn";
}




