// Our veriables and constants

// Parameters
// Header
$headerHeight: 100px;
$headerMargin: 0;

// Main
$mainWidth: 600px;
$mainPadding: 15px;


// Footer
$footerHeight: 100px;

// Colors
$generalBgColor: #eee;
$headerBgColor: rgba(180, 185, 191, 0.2);
$footerbgColor: #eef;

// @Media
$hugeWidth: 1500px;
$bigWidth: 1150px;
$mediumWidth: 800px;
$smallWidth: 700px;
$extrasmallWidth: 500px;