// some

$centeredMargin: 0 auto;
$generalTextColor: black;

// container
$containerWidth: 1200px;
$containerPadding: 15px;
$containerBgColor: #fff5e6;

// sidebar
$sidebarWidth: 300px;
$sidebarBgColor: yellow;

$mainWidth: 800px;
$sidebarWidth: 250px;

// Header
$headerHeight: 50px;
$headerBgColor: #5c85d6;

// colors
$generalBgColor: #008080;

// Footer 
$footerBgColor:#152f22;