body {
    margin: 0;
    background: #ebebeb;
    color: #494949;
    font: 14px/20px Arial, Helvetica, sans-serif;
   
}

a {
    color #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
}

h1, h2 {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

header, 
footer,
article,
section,
main,
nav,
aside {
    display: block;
}

.wrapper {
	width: 1055px;
	background: #fff;
	margin: 0 auto;
	

}

ul {
	list-style: none;
}
/*clear float*/

header:after,
#nav:after,
.slider:after,
#main-content:after,
aside:after, 
.tabs:after {
    content: '';
    display: block;
    clear: both;
}
/*colors and backgrounds for titles*/

.blue, .green, .dark-blue, .orange, .red, .grey, .pink {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

.blue {
	background: #00aedb;
}

.green {
	background: #8cc63f;
}

.dark-blue {
	background: #5261ac;
}

.orange {
	background: #f78f1d;
}

.red {
	background: #f00;
}
	
.grey {
	background: #898989;
}

.pink {
	 background: #ec098d;
}


	/*header*/

header {
	padding: 27px 0 0 0;
}
 
 header .logo {
 	background: url(img/logo.png); 
 	margin: 0 100px 2px 29px;
 	height: 65px;
 	width: 187px;
 	text-indent: -9999px;
 	float: left;
 }

header form {
	margin: 33px 0 0 0;
	padding: 0;
	height: 36px;
	width: 440px;
	display: inline-block;

}

header input {
	border: 1px solid #e5e5e5;
	height: 32px;
}

header label {
	text-transform: uppercase;
	padding: 8px 16px;
	margin: 60px 0 0 -4px;
	font-weight: bold;
}

header .links  {
	float: right;
	margin: 28px 30px 0 auto;

} 
.links li {
	display: inline-block;
		}
	
.links ul {
	margin: 0;
	display: inline-block;
}

header:after {
	clear: both;
}

	/* navigation*/

#nav {
	width: 955px;
	height: 36px;
	margin: 17px 30px 0;
	}

#nav ul {
	margin: 0;
	float: left;
	padding: 0;
	width: 995px;
	display: inline-block;	
}

#nav li {
	display: inline-block;
	text-transform: uppercase;
	margin-right: -4px;
	font-weight: bold;
	padding: 10px 20px;
}

#nav a {
	display: inline-block;
	color: #fff;
	}

	/*slider*/

.slider {
	padding: 0 30px;
	position: relative;
}

.slider h3 {
	margin: 10px 30px 10px 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #00aedb;}

.slider ul {
	display: inline-block;
	padding: 0;
	margin: 0;
} 

.slider ul li {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 328px;
	height: 187px;
}
.slider p {
	color #6a6666;
	font-weight: bold;
	font-size: 14px;
}
.slider ul div {
	margin: -5px 0 0 0;
	padding: 8px 0 8px 30px;
}

.slider ul div:before {
display: inline-block;
  position: relative;
  left: -20px;
  content: '';
  border-style: solid;
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent #ffffff;
  margin: 0px 10px;
}

#prev {
position: absolute;
bottom: 62px;
left: 12px;
display: inline-block;
border-style: solid;
border-width: 10px 12px 10px 0;
border-color: transparent #00aedb transparent transparent;
}

#next {
	position: absolute;
	bottom: 62px;
	right: 16px;
	display: inline-block;
	border-style: solid;
	border-width: 10px 0 10px 12px;
	border-color: transparent transparent  transparent #ec098d;
}
 
 /* main content*/	
.content {
	background: #fff;
	width: 1055px;
	margin: 0 auto;
	clear: both;

}

 #main-content {
 	float: left;
 	width: 652px;
 	margin: 20px auto 0 30px;
 	
 }

.artical {
	position: relative;
}

.date {
 z-index: auto;

}

.date p {
	height: 47px;
	width: 65px;
	font-weight: bold;
	font-size: 25px;
	color: #ebebeb;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	float: right;
	position: absolute;
	top: 6px;
	left: -70px;
}

.date p + p {
	height: 25px;
	width: 60px;
	font-size: 14px;
	position: absolute;
	top: 53px;
	left: -65px;
}

  .gal {
background: #fafafa;
padding: 12px;
border: 1px solid #bfbfbf;
float: left;
margin-bottom: 20px;
  }
 .gal a {
 	display: inline-block;
 }
 .gal ul, .gal li {
 	display: inline-block;
 	margin: 0;
 	padding: 0;
 }

 .gal li {
 	border: 1px solid #bfbfbf;
 	height: 152px;

 }

 .gal ul img {
 	border: 3px solid #fff;
 	height: 144px; }

 .artical-links {
 	margin: 20px 0;
 }

.artical-links li, .artical-links a, #last  {
	display: inline;
	width: 25px;
	text-transform: capitalize;
	color: #494949;
}
.artical-links span {
	margin: 10px;
}
.artical-links span + a {
	float: right;
	width: 100px;
}
#last {
	text-transform: lowercase;
	}




/* aside

 Do not finished yet */
 
aside {
	float: right;
	width: 324px;
	margin: 23px 30px 30px 0;
}

#first-title {
	margin-bottom: 5px;
}
 
#first-title div {
	float: left;
	width: 140px;
	padding: 9px 20px;
    margin-bottom: 20px;
}

#first-title div + div {
	width: 38px;
	padding: 0;
	border-style: solid;
	border-width: 38.5px 0 0 38px;
	border-color: transparent transparent transparent #5261ac;
}

 
.tabs {
  
  clear: both;
  margin: 0;
  position: relative;
  
}
.tab {
 float: left;
 
}
.tab label {
 padding: 10px 20px; 
 position: relative;
 left: 0px; 
 top: 0px;
 cursor: pointer;
}

.tab-content {
  position: absolute;
  top: 28px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px 0;
  display: none;
  width: 324px;
}
.tab-content img {
border: 3px solid #fff;
}

.tab [type=radio] {
  display: none;   
}

input:checked ~ .tab-content {
  display: block;
}

input:checked ~ label:after {
position: absolute;
top: 20px;
left: 60px;
width: 10px;
height: 10px0;
border-left: 50px solid transparent;
border-right: 50px solid transparent;
border-top: 100px solid inherit;
}

.tab-content img {
	float:left;
	margin: 0 10px 10px 0;
}

.tab-content img + p {
	color: #00aedb; 
	font: 16px/20px;
	font-weight: bold;
}

.tab-content p {
	margin: 0 auto 0;
	}

#might-like {
	clear: both;

}




/*footer*/

footer p {
	margin: 0 auto;
	height: 74px;
	width: 185px;
	padding-top: 30px;


}

/*.holder {
	position: relative;
	width: 300px;
	height: 300px;
	margin: 0 auto;
	background: #cda;
}

.triangle {
	display: block;
	position: absolute;
	top:50%;
	left: 50%;
	margin: -25px -25%;
	border-color: transparent #134 transparent;
	border-style: solid;
	border-width: 12px 14px 12px 0;
	height: 0;

}


.triangle {
	display: block;
	position: absolute;
	top:50%;
	left: 50%;
	margin: -25px -25%;
	border-color:  transparent #134 transparent;
	border-style: solid;
	border-width: 12px 14px 12px 0;
	height: 0;

}

.triangle {
	display: block;
	position: absolute;
	top:50%;
	left: 50%;
	margin: -25px -25%;
	border-color: transparent #134 transparent;
	border-style: solid;
	border-width: 12px 14px 12px 0;
	height: 0;

}
*/



