// Our veriables and constants

// Container params
$containerWidth: 1000px;
$containerPadding: 15px;

$mainWidth: 600px;
$mainPadding: 15px;

$sidebarWidth: 250px;
$sidebarMargin: 50px;
$sidebarPadding: 15px;

$headerHeight: 100px;
$headerMargin: 0 0 20px;

// Footer params
$footerHeight: 100px;

// Colors
$generalBgColor: #eee;
$headerBgColor: #efe;
$footerbgColor: #eef;

// @Media

$tabletDeviceWidth: 1000px;

// Icons
$iconSize: 16px;
$colIconsX: 20;
$colIconsY: 17;

