.tabs {
display: inline-block;
position: relative;


}
.tabs label {
  margin-left: -1px;
  color: #555;
  cursor: pointer;
  display: inline-block;
  padding: 0px 23px;
  height: 34px;
  line-height: 34px;
  position: relative;
  font-weight: 400;
  text-align: center;
  border-top:1px solid #d7d7d7;
  border-left:1px solid #d7d7d7;
  border-right:1px solid #d7d7d7;
  border-bottom:1px solid #c5c5c5;
  background-color: #f8f8f8;
  font-size: 13px;
}

.tabs input {
  position: absolute;
  left: -9999px;
}

#tab_1:checked  ~ #tab_l1,
#tab_2:checked  ~ #tab_l2,
#tab_3:checked  ~ #tab_l3 {
  z-index: 3;
   background: #fff;
   color:#6b99b6;
     border-top:1px solid #c5c5c5;
  border-left:1px solid #c5c5c5;
  border-right:1px solid #c5c5c5;
  border-bottom:1px solid #fff;

}



.tabs_cont {
  background: #fff;
  position: relative;
  z-index: 2;
  padding-top: 22px;

}


.tabs_cont > div {
  position: absolute;
  left: -9999px;
  top: 0;
  opacity: 0;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3 {
  position: static;
  left: 0;
  opacity: 1;
}