@media   (min-width: 767px){

.area { width: 750px; /* background-color: yellow; */   transition: all .3s;}
.col-sm-1  { width: 8.33333333%; }
.col-sm-2  { width: 16.66666667%; }
.col-sm-3  { width: 25%; }
.col-sm-4  { width: 33.33333333%; }
.col-sm-5  { width: 41.66666667%; }
.col-sm-6  { width: 50%; }
.col-sm-7  { width: 58.33333333%; }
.col-sm-8  { width: 66.66666667%; }
.col-sm-9  { width: 75%; }
.col-sm-10 { width: 83.33333333%; }
.col-sm-11 { width: 91.66666667%; }
.col-sm-12 { width: 100%; }


.tabs:before {
	content: ''; 
	height: 1px;
	width: 750px;
	background-color: #c5c5c5;
	position: absolute;
	left: 0px;
	top: 33px;
}


.some-text h1, .some-text h3{
	font-size: 28px;
}

.main-text{
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 30px;
}




.tab-text h2{
    font-size: 15px;
    margin-bottom: 12px;
    font-weight: 700;
}

.tab-text p{
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 15px;
}

.tab-text ul li{
    font-size: 12px;
    line-height: 18px;
    list-style-type: none;
  
}

.thumb{
    width: 675px;
}

}